* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #eef2f7;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: white;
    border-bottom: 3px solid #F58634;
}

.logo {
    color: #34316E;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* LOGIN BUTTON LOWER */
.login-btn {
    background: #F58634;
    color: white !important;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 6px; /* 👈 ye line important */
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(52,49,110,0.6)),
    url('https://images.unsplash.com/photo-1586773860418-d37222d8fce3');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: white;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    margin: 15px 0;
}

.btn {
    background: #F58634;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Forms */
.form-container {
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #34316E;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #F58634;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */
.footer {
    background: #34316E;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}